services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio-web
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - NODE_ENV=production
      - NEXT_PUBLIC_CAL_COM_USERNAME=${NEXT_PUBLIC_CAL_COM_USERNAME}
      - NEXT_PUBLIC_CAL_COM_EVENT_TYPE=${NEXT_PUBLIC_CAL_COM_EVENT_TYPE}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}

    networks:
      - npm-network

networks:
  npm-network:
    driver: bridge
